<html>
<head>
    <title>Angular 2 Boiler Plate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico'/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   	<script type="text/javascript">
   		window.appData = {{toJSON dataLayer}}
   	</script>
    <script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
    <base href="/">
    <style>
      /* HACK REMOVE THIS AT SOME POINT: changing style so click event on accordian header works*/
      accordion-group .panel-heading{
        padding: 0px;
      }
      accordion-group [accordion-heading]{
          padding: 10px 15px;
      }
    </style>
</head>

<body>

<app>Loading...</app>
</body>

</html>